config.status
configure.info
standards.info
Makefile
autom4te.cache
config.cache
config.log
i686-ost/
serdep.tmp
newlib/libc/sys/ost/Makefile.in
newlib/libc/sys/ost/aclocal.m4
newlib/libc/sys/ost/configure

